[submodule "cozy-conf"]
	path = cozy-conf
	url = https://github.com/spiroid/cozy-conf
[submodule "cozy-couchdb-data"]
	path = cozy-couchdb-data
	url = https://github.com/spiroid/cozy-couchdb-data
[submodule "cozy-couchdb"]
	path = cozy-couchdb
	url = https://github.com/spiroid/cozy-couchdb
[submodule "cozy-data-indexer"]
	path = cozy-data-indexer
	url = https://github.com/spiroid/cozy-data-indexer
[submodule "cozy-controller"]
	path = cozy-controller
	url = https://github.com/woshilapin/cozy-controller
